* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
.tytle {
	float: left;
}
.nav-list {
	position: absolute;
	float: left;
	right: 0;
}
.nav-list-item {
	list-style :none;
	display: inline-block;
	font-size: 16px;
	color: #FAFAFA;
	line-height: 70px;
	margin-right: 40px
}
.nav-list-item:nth-child(4) {
	margin-right: 0;
}
.main-visual {
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
}
.main-visual-text {
	text-align: center;
	padding-top: 200px;
	margin: 0 auto;
	color: #FAFAFA;
}
.main-visual-text h1 {
	font-size: 64px;
	margin-bottom: 10px;
}
.main-visual-text p {
	font-size: 20px;
}
.group {
	width: 100%;
}
.group:nth-child(odd) {
	background-color: #ECEFF1;
}
.portfolio {
    width: 920px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}
h2 {
	position: relative;
    display: inline-block;
    margin-bottom: 8px;
	font-size: 32px;
	color: #000000;
}
h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #EC715F;/*線の色*/
}
.main-text {
	padding: 30px 0;
	font-size: 16px;
	color: #000000;
}
.portfolio-box .box {
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	float: left;
	background-size: cover;
	background-position: center;
}
.portfolio-box .box:nth-child(3n) {
	margin-right: 0;
}
.portfolio-box .box:last-child(-n+3) {
	margin-bottom: 0;
}
.portfolio-box .box:nth-child(1) {
	background-image: url(img/sketch.jpg);
}
.portfolio-box .box:nth-child(2) {
	background-image: url(img/websuku.png);
}
.portfolio-box .box:nth-child(3) {
	background-image: url(img/write.jpg);
}
.portfolio-box .box:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.portfolio-box .box:nth-child(5) {
	background-image: url(img/talk.jpg);
}
.portfolio-box .box:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}
.feature {
    width: 980px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}
.feature-box .box {
	width: 320px;
	float: left;
}
h3 {
	font-size: 20px;
	color: #000000;
	text-align: center;
	padding: 10px 0 10px;
}
.social {
	
}
.strength-text {
	font-size: 16px;
	color: #000000;
}
